$primary: #4169e1;

// @import '~bootstrap/scss/bootstrap';

body {
  display: flex;
  background-color: $primary
}

.navbar-header {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

.logo {
  color: #ffffff;
  font-family: 'Architects Daughter', serif;
  font-size: 50px;
  font-weight: bold;
}

.container {
  display: flex;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: absolute;
}

.joke {
  color: #ffffff;
  text-align: center;
}